<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan department">
 <listeners>
 <listener class-name="te.Hearing"/>
 </listeners>
  <test  name="Personal Loan">
    <classes>
      <class name= "te.Days1">
       <methods>
       <include name= "Demo"/>
       </methods>
      </class>
      <class name= "te.Days2"/>
      <class name= "te.Days4"/>
     </classes>
  </test> 
 
  <test name= "car Loan">
  <classes>
     <class name= "te.Days3">
     <methods>
     <exclude name= "MobileLogincarloan"/>
     </methods>
     </class>
  </classes>
  </test>

</suite> 


